.icon-white {
  width: 2rem;
  fill: white;
}

.cart-count-color {
  background: palegreen;
  color: #111;
  font-weight: bold;
}
hr {
  background: rgb(19, 19, 19);
  border-color: transparent;
  border-width: 0.25px;
}
